Name- Jay Dhotre

Roll No= 9143

Lists

In [1]:
A=["Jay","Dhotre",21,"Student",]
B=["SP College","Autonomous","Sadashiv Peth",411030]
print(A)
print(B)

['Jay', 'Dhotre', 21, 'Student']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030]

Tupples

In [2]:
a=("Jay","Dhotre",21,"Student")
b=("SP College","Autonomous","Sadashiv Peth",411030)
print(a)
print(b)

('Jay', 'Dhotre', 21, 'Student')
('SP College', 'Autonomous', 'Sadashiv Peth', 411030)

In [3]:
print(A[0:2])
print(B[2:3])
print(a[2])
print(b[3])

['Jay', 'Dhotre']
['Sadashiv Peth']
21
411030

Class

In [4]:
print(type(A))
print(type(B))
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>
<class 'tuple'>
<class 'tuple'>

Copy

In [5]:
print(A)
A1=A.copy()
print(A1)
#### Tupples cannot be copied####

['Jay', 'Dhotre', 21, 'Student']
['Jay', 'Dhotre', 21, 'Student']

Append

In [6]:
print(B)
B.append("Autonomous")
print(B)

['SP College', 'Autonomous', 'Sadashiv Peth', 411030]
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Count

In [7]:
print(A.count("Kasturi"))
A.append("Kasturi")
print(A.count("Kasturi"))

0
1

Delete List

In [8]:
try:
 print(A1)
 del A1
 print(A1)
except:
    pass

### List A1 is deleted therefore it is showing error
### Used Try and Expect to maintain the continuity of the program

['Jay', 'Dhotre', 21, 'Student']

Extend

In [9]:
print(A)
print(B)
A.extend(B)
print(A)

['Jay', 'Dhotre', 21, 'Student', 'Kasturi']
['SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']
['Jay', 'Dhotre', 21, 'Student', 'Kasturi', 'SP College', 'Autonomous', 'Sadashiv Peth', 411030, 'Autonomous']

Index

In [10]:
print(B.index("Sadashiv Peth"))
print(A.index("Autonomous"))

### If the elements are repeated in the list then index() will provide the index no. of first element

2
6

Sort

In [11]:
Y=["D","A","C","B"]
print(Y)
Y1=[4,2,1,3]
print(Y1)
Y.sort()
Y1.sort()
print(Y)
print(Y1)

['D', 'A', 'C', 'B']
[4, 2, 1, 3]
['A', 'B', 'C', 'D']
[1, 2, 3, 4]

Access

In [12]:
print(Y[:2])
print(Y1[0:])

['A', 'B']
[1, 2, 3, 4]

Nested List

In [13]:
ABlist=["Kasturi","SP COllege",[21,411030]]
print(ABlist)
print(ABlist[2])

['Kasturi', 'SP COllege', [21, 411030]]
[21, 411030]